$shadow-color:rgb(0 0 0 / 25%);
$background-search-color: rgb(241, 241, 241);
$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
///
$breakpoints:(desktop:769px);
$breakpoints2:(mobile:425px);
$breakpoints3:(tablet:769px);
$breakpoints4:(tablet1:991px);