@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
@keyframes fill {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes charge {
  to {
    transform: rotate(1turn);
  }
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes page_load {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideleft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
    visibility: visible;
  }
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
    visibility: visible;
  }
}
@keyframes appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
#delate {
  animation-delay: 0.3s;
}

#delate2 {
  animation-delay: 0.6s;
}

#delate3 {
  animation-delay: 0.9s;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  box-sizing: border-box;
  font-family: "Roboto", "sans-serif";
  margin: 0px 0px;
  max-width: 100%;
}

h5 {
  font-family: "Roboto", "sans-serif";
}

.btn_explorer {
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  border-radius: 27px;
  border: transparent;
  color: white;
  font-weight: 500;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  height: 47px;
  width: 197px;
}
.btn_explorer:hover {
  opacity: 0.8;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.nav_btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
  height: 55px;
  width: 220px;
  border-radius: 20px;
  box-shadow: 1px 0 6px rgba(0, 0, 0, 0.25);
  background-color: #f7f7f7;
  border: none;
  font-weight: bold;
  transition: all 400ms;
}
.nav_btn:hover {
  transform: scale(1.05);
  background-color: #e4d5f6;
  box-shadow: 6px 0 8px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.nav_btn:hover .ico-nav {
  color: #9356DC;
}
.nav_btn:hover .num {
  animation: rotation 3s infinite linear;
}

.num {
  height: 30px;
  width: 30px;
  position: absolute;
  margin-left: -29px;
  margin-top: -16px;
}

.btn_command {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.foot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
  padding: 20px;
  color: #fff;
  background-color: #393939;
}
.foot a {
  display: flex;
  column-gap: 15px;
  text-decoration: none;
  color: inherit;
}
.foot .handsize {
  font-size: 11.5px;
}
.foot .foot_title {
  margin-top: -2px;
  font-family: "Shrikhand";
  font-size: 1.5rem;
}

.head {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
}

.img_size {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.ico_marg {
  margin-left: 10px;
}

.navigation .nav_title {
  margin-left: 20px;
  font-size: 1.3rem;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .navigation .nav_title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.navigation .list_box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 240px;
}
@media screen and (min-width: 768px) {
  .navigation .list_box {
    flex-direction: row;
    height: 82px;
  }
}
.navigation .pos {
  position: relative;
}

.localisation {
  display: flex;
  align-items: center;
  margin-left: 76px;
}

.ico_loc {
  margin-right: 6px;
}

.input {
  border: none;
  background-color: rgb(241, 241, 241);
  font-weight: 300;
}

.reservation {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 268px;
  background: #f7f7f7;
}
.reservation .res_title {
  font-size: 1.2rem;
  margin-top: 40px;
  font-weight: bold;
  margin-bottom: -5px;
  width: 232px;
}
.reservation .p_style {
  color: #585858;
  font-weight: 300;
  width: 282px;
  margin-bottom: 33px;
}

.form {
  display: flex;
  justify-content: center;
  background-color: rgb(241, 241, 241);
  box-shadow: inset 2px 6px 7px -6px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 44px;
}

.bloc_charge {
  position: fixed;
  left: 50%;
  top: 50%;
  animation: loader 3s ease-in-out 1s forwards;
  width: 100%;
  height: 100%;
}

.chargement {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 8px solid;
  border-color: #9356DC;
  border-right-color: #FF79DA;
  animation: charge 1s infinite linear;
}

.main {
  animation: page_load 3s ease-in-out 1s backwards;
}

.logo_bloc {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}
.logo_bloc .logo_size {
  height: 31px;
  width: 173px;
}

.restaurant_title {
  margin-right: 268px;
}

.heart:hover {
  animation: fill 2s ease-out;
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: bold;
}

.restaurant_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1300px;
  background-color: rgb(241, 241, 241);
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .restaurant_list {
    display: flex;
    height: 750px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.restaurant_list .restaurant {
  width: -moz-fit-content;
  width: fit-content;
  box-shadow: 1px 0 6px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  background-color: #fff;
}
.restaurant_list .restaurant .img_resto1 {
  object-fit: cover;
  width: 395px;
  height: 200px;
  border-radius: 5px;
}
@media screen and (min-width: 768px) {
  .restaurant_list .restaurant .img_resto1 {
    width: 520px;
  }
}
@media screen and (min-width: 768px) {
  .restaurant_list .resto_cartefr {
    margin-top: 89px;
  }
}
.restaurant_list .new {
  position: absolute;
  margin-left: 426px;
  margin-top: 16px;
  background-color: #99E2D0;
  border-radius: 3px;
  padding: 5px 12px;
  color: #2c9c81;
  font-weight: 500;
}
.restaurant_list .restaurant_text {
  padding: 5px;
  font-size: 0.6rem;
}
.restaurant_list p {
  font-size: 0.8rem;
  margin-top: -8px;
  font-weight: 300;
}
.restaurant_list h2 {
  display: flex;
  justify-content: space-between;
}
.restaurant_list .heart {
  font-size: 20px;
}

.menu {
  position: relative;
  margin-top: -60px;
  width: 100%;
  height: 1300px;
  background-color: rgb(241, 241, 241);
  border-top-left-radius: 30px 40px;
  border-top-right-radius: 30px 40px;
}
@media screen and (min-width: 768px) {
  .menu {
    height: 700px;
  }
}
.menu .resto_titre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  font-family: "shrikhand";
  padding: 30px;
}
.menu .title_entrées {
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 5px;
  margin-left: 9px;
}
.menu .border {
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  margin-bottom: 15px;
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .contenaire {
    display: flex;
    justify-content: space-around;
  }
}

.bloc_entrées {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  animation: appear 0.5s;
  animation-fill-mode: both;
}

.card_entrées {
  width: 98%;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: #fff;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 0px 0px 5px 0px rgba(102, 102, 102, 0.25);
  height: 70px;
}
@media screen and (min-width: 768px) {
  .card_entrées {
    width: 500px;
  }
}
.card_entrées .info {
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
}
.card_entrées .info h5 {
  width: 80%;
  font-weight: 600;
  margin-left: 11px;
  margin-top: 10px;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (min-width: 768px) {
  .card_entrées .info h5 {
    font-size: larger;
  }
}
.card_entrées .info .para_prix {
  display: flex;
  justify-content: space-between;
}
.card_entrées .info .para_prix p {
  font-size: smaller;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (min-width: 768px) {
  .card_entrées .info .para_prix p {
    font-size: large;
  }
}
.card_entrées .check {
  position: absolute;
  right: 0;
  height: 70px;
  width: 83px;
  /*transform: translateX(85px);
  transform-origin: right;*/
  opacity: 0;
  background-color: #99E2D0;
  text-align: center;
  line-height: 77px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.card_entrées .check .fas {
  color: #fff;
  font-size: 1.6rem;
}
.card_entrées:hover .check {
  opacity: 1;
  animation: slideleft 0.5s cubic-bezier(0.39, 0.57, 0.56, 1);
  background-color: #99E2D0;
}
.card_entrées:hover .check .fas {
  animation: rotation 1s cubic-bezier(0.39, 0.57, 0.56, 1);
}
.card_entrées:hover .info {
  width: 75%;
}

/*# sourceMappingURL=style.css.map */
