.logo_bloc {
    @include flexbox-center;
    width: 100%;
    margin-top: 10px;
    .logo_size {
        height: 31px;
        width: 173px;
    }
}

.restaurant_title {
    font-size: 0.9rem;
    @include desktop-only {
        margin-right: 395px;
    }
    @include tablet-only {
        margin-right: 326px;
    }
    @include mobile-only {
        margin-right: 154px;
        margin-top: 20px;
        margin-bottom: -17px;
    }
}

.heart:hover {
    animation: fill 2s ease-out;
    background: linear-gradient(#FF79DA, #9356DC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: bold;
}

.restaurant_list {
    @include flex-column;
    height: 1300px;
    background-color: $background-search-color;
    gap: 20px;
    @include desktop-only {
        display: flex;
        height: 750px;
        flex-wrap: wrap;
        justify-content: center;
    }
    @include tablet-only {
        width: 998px;
    }
    @include mobile-only {
        height: 1050px;
    }
    .restaurant {
        width: -moz-fit-content;
        width: fit-content;
        @include shadow-card;
        background-color: #fff;
        .img_resto1 {
            object-fit: cover;
            width: 395px;
            height: 200px;
            border-radius: 5px;
            @include desktop-only {
                width: 472px;
            }
            @include mobile-only {
                width: 280px;
                height: 135px;
            }
        }
    }
    .resto_cartefr {
        @include desktop-only {
            margin-top: 82px;
        }
    }
    .new {
        position: absolute;
        margin-left: 300px;
        margin-top: 16px;
        background-color: $color-tertiary;
        border-radius: 3px;
        padding: 5px 12px;
        color: (darken($color-tertiary, 35%));
        font-weight: 500;
        @include desktop-only {
            margin-left: 384px;
        }
        @include mobile-only {
            margin-left: 195px;
        }
    }
    .restaurant_text {
        padding: 5px;
        font-size: 0.6rem;
    }
    p {
        font-size: 0.8rem;
        margin-top: -8px;
        font-weight: 300;
    }
    h2 {
        display: flex;
        justify-content: space-between;
    }
    .heart {
        font-size: 20px;
    }
}