.navigation {
    .nav_title {
        margin-left: 20px;
        font-size: 1.3rem;
        font-weight: bold;
    }
    .list_box {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 240px;
    }
    .pos {
        position: relative;
    }
    .num {
        height: 30px;
        width: 30px;
        position: absolute;
        margin-left: -29px;
        margin-top: -16px;
        &:hover {
            transform: scale(1.05);
            animation: rotation 6s infinite linear;
        }
    }
}

.localisation {
    display: flex;
    align-items: center;
    margin-left: 19px;
}

.ico_loc {
    margin-right: 6px;
}

.input {
    border: none;
    background-color: $background-search-color;
    font-weight: 300;
}

.reservation {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 268px;
    background: (lighten($background-search-color, 2.5%));
    .res_title {
        font-size: 1.2rem;
        margin-top: 40px;
        font-weight: bold;
        margin-bottom: -5px;
        width: 232px;
    }
    .p_style {
        color: (darken($background-search-color, 60%));
        font-weight: 300;
        width: 282px;
        margin-bottom: 33px;
    }
}

.restaurant_list {
    @include flex-column;
    height: 1300px;
    background-color: $background-search-color;
    gap: 20px;
    a {
        @include link;
    }
    .restaurant {
        width: -moz-fit-content;
        width: fit-content;
        @include shadow-card;
        background-color: #fff;
        .img_resto1 {
            object-fit: cover;
            width: 395px;
            height: 200px;
            border-radius: 5px;
        }
    }
    .new {
        position: absolute;
        margin-left: 300px;
        margin-top: 16px;
        background-color: $color-tertiary;
        border-radius: 3px;
        padding: 5px 12px;
        color: (darken($color-tertiary, 35%));
        font-weight: 500;
    }
    .restaurant_text {
        padding: 5px;
        font-size: 0.6rem;
    }
    p {
        font-size: 0.8rem;
        margin-top: -15px;
        font-weight: 300;
    }
    h2 {
        display: flex;
        justify-content: space-between;
    }
    .heart {
        font-size: 20px;
        color: grey;
    }
    .heart:hover {
        animation: fill 2s ease-out;
        background: linear-gradient(#FF79DA, #9356DC);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        font-weight: bold;
    }
}