.navigation {
    .nav_title {
        margin-left: 13px;
        margin-top: 45px;
        font-size: 1.3rem;
        font-weight: 600;
        @include desktop-only {
            @include flexbox-center;
        }
    }
    .list_box {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 275px;
        width: auto;
        @include desktop-only {
            flex-direction: row;
            height: 82px;
        }
        @include tablet-only {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: 275px;
            width: auto;
        }
    }
    .pos {
        position: relative;
    }
}

.localisation {
    display: flex;
    align-items: center;
    margin-left: 76px;
}

.ico_loc {
    margin-right: 6px;
}

.input {
    border: none;
    background-color: $background-search-color;
    font-weight: 400;
}

.reservation {
    @include flex-column;
    text-align: center;
    width: 100%;
    height: 268px;
    background: (lighten($background-search-color, 2.5%));
    .res_title {
        font-size: 1.5rem;
        margin-top: 40px;
        font-weight: 600;
        margin-bottom: -5px;
        width: 245px;
    }
    .p_style {
        color: (darken($background-search-color, 60%));
        font-weight: 300;
        width: 282px;
        margin-bottom: 33px;
    }
}